#header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2.5rem 2rem;
}

#header h1{
	margin-right: 4rem; 
}

#header input{
	margin-right: 1rem; 
}

.add-player{
	width: 12%;
}

#registration tr{
	color: black; 
}

.reg-number {
	width: 1rem;
	font-size: 2.2rem;
	font-weight: bold;
	text-align: left;
  }
  
.reg-name {
	text-align: left;
	font-size: 1.2rem;
}

.player-row:hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

.player-row:nth-child(odd) {
  background-color: #f9f9f9;
}
  