.player-number {
	width: 1rem;
	font-size: 2.2rem;
	font-weight: bold;
	text-align: left;
  }
  
.player-name {
	text-align: left;
	font-size: 1.2rem;
}

.points-added{
	width: 10%;
	text-align: center;
	font-size: 1.2rem;
	margin-right: 1rem;  
}


.points {
	font-weight: bold;
	font-size: 1.3rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 1rem;
  }
  
  .gold-medal {
	height: 2rem;
	margin-left: 2.4rem;
  }

  .add{
	width: 3rem;
	height: 3rem;
	font-size: 1.3rem;
	color: #fff;
	text-transform: uppercase;
	background-color: #5c5be5;
	border: 0;
	border-bottom: 0.2rem solid #3838b8;
	border-radius: 2rem;
	cursor: pointer;
	margin-left: 2rem; 
  }

  .rank-row:nth-child(1) .player-number {
	color: #FFD700; 
  }

  .rank-row:nth-child(2) .player-number {
	color: #808080; 
  }

  .rank-row:nth-child(3) .player-number {
	color: #CD7F32;
  }

  .rank-row:nth-child(odd) {
	background-color: #E6E6E6;
  }


  .rank-row:not(first-child):hover{
	  background-color: #fff;
	  transform: scale(1.1);
  }

  #leaderboard {
	width: 100%;
	position: relative;
  }
  .rank-row{
	transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .rank-row-enter {
	opacity: 0;
	transform: translateY(-20px);
  }
  
  .rank-row-enter-active {
	opacity: 1;
	transform: translateY(0);
  }
  
  .rank-row-exit {
	opacity: 1;
	transform: translateY(0);
  }
  
  .rank-row-exit-active {
	opacity: 0;
	transform: translateY(20px);
  }
  
  /* This handles the transition of each row */
  .rank-row-enter, .rank-row-exit {
	transition: opacity 0.5s ease, transform 0.5s ease;
  }
  