.popup {
	background: white;
	padding: 20px;
	border-radius: 8px;
	font-size: 2.4rem;
	width: 37rem; 
  }
  
  .popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
  }

  form{
	display: flex; 
  }

  .popup-actions{
	width: 100%;
	margin-left: 1rem; 
	}
  .add-points{
	width: 24%; 
	margin-right: 0.4rem;
  }

  .cancel{
	width: 45%; 
  }